---
import OtpVerificationForm from "../components/auth/OtpVerificationForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="site_content">
    <!-- ======================All Page Loader========================= -->
    <div class="loader-wrapper loader">
      <div class="icon-loader">
        <img src="assets/images/pan.gif" alt="pan" />
      </div>
    </div>
    <!-- ======================All Page Loader End========================= -->
    <section class="container">
      <!-- ====================== Header ========================= -->
      <header id="top-navbar" class="top-navbar top-navbar2">
        <div class="top-header-full">
          <div class="back-btn">
            <a href="javascript:history.go(-1)">
              <svg
                class="svg-media"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <g>
                  <path
                    d="M5 12H19"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M5 12C5 12 9 15 9 17"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M5 12C5 12 9 9 9 7"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </g>
              </svg>
            </a>
          </div>
          <div class="header-title">
            <h1>Verify Phone Number</h1>
          </div>
        </div>
      </header>
      <!-- ====================== Header End========================= -->
      <!-- ====================== verification Screen========================= -->
      <div class="section-main">
        <OtpVerificationForm client:load />
      </div>
    </section>
    <!-- ====================== verification Screen End========================= -->
  </div>
</Layout>
