---
import { FaRegUserCircle } from "react-icons/fa";
import { FaHome } from "react-icons/fa";
import { FaFileInvoiceDollar } from "react-icons/fa6";
import FloatingCartIcon from "../cart/FloatingCartIcon";
---

<div class="bottom-menu-svg-main">
  <div class="bottom-menu-svg">
    <div class="gol3">
      <div class="add-to-cart-icon">
        <FloatingCartIcon client:load />
      </div>
    </div>
    <svg
      class="bottom-menu-svg-design"
      xmlns="http://www.w3.org/2000/svg"
      width="600"
      height="150"
      viewBox="0 0 600 150"
      fill="none"
    >
      <path
        class="bottom-menu-color"
        d="M300.8 65.2006C329.077 65.2006 352 44.3699 352 18.674V18.674C352 9.74988 358.681 -0.0889598 367.578 0.602816L585.24 17.5264C593.571 18.1741 600 25.1227 600 33.4782V149.53H0V33.4844C0 25.1263 6.43312 18.1764 14.7663 17.532L234.009 0.576187C242.916 -0.11265 249.6 9.74056 249.6 18.674V18.674C249.6 44.3699 272.523 65.2006 300.8 65.2006Z"
        fill="#F59E0B"></path>
      <path
        d="M0 33.4844 C0 25.1263 6.43312 18.1764 14.7663 17.532 L234.009 0.576187 C242.916 -0.11265 249.6 9.74056 249.6 18.674 C249.6 44.3699 272.523 65.2006 300.8 65.2006 C329.077 65.2006 352 44.3699 352 18.674 C352 9.74988 358.681 -0.0889598 367.578 0.602816 L585.24 17.5264 C593.571 18.1741 600 25.1227 600 33.4782"
        fill="none"
        stroke="black"
        stroke-width="3.5"></path>
    </svg>
  </div>
</div>
<div class="navigation">
  <ul class="listWrap">
    <li class="list">
      <a href="/home">
        <i class="icon">
          <FaHome size={30} />
        </i>
        <span class="text"></span>
      </a>
    </li>

    <li class="list">
      <a href="/orders">
        <i class="icon">
          <FaFileInvoiceDollar size={30} />
        </i>
        <span class="text"></span>
      </a>
    </li>
  </ul>
</div>
