---

---

<div class="bottom-menu-svg-main">
  <div class="bottom-menu-svg">
    <div class="gol3">
      <div class="add-to-cart-icon">
        <a href="cart.html">
          <svg
            class="home-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g>
              <path
                d="M6.00024 8H17.3392C17.6276 7.99997 17.9126 8.06229 18.1746 8.1827C18.4366 8.30311 18.6695 8.47876 18.8573 8.6976C19.0451 8.91645 19.1833 9.17331 19.2625 9.45059C19.3417 9.72786 19.3601 10.019 19.3162 10.304L18.0612 18.456C17.9523 19.1644 17.5933 19.8105 17.0492 20.2771C16.5052 20.7438 15.812 21.0002 15.0952 21H8.24324C7.52664 21 6.83372 20.7434 6.28987 20.2768C5.74602 19.8102 5.38716 19.1643 5.27824 18.456L4.02324 10.304C3.97941 10.019 3.99773 9.72786 4.07694 9.45059C4.15616 9.17331 4.2944 8.91645 4.48218 8.6976C4.66997 8.47876 4.90286 8.30311 5.16488 8.1827C5.42691 8.06229 5.71187 7.99997 6.00024 8Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8.66895 11V6C8.66895 5.20435 8.98502 4.44129 9.54762 3.87868C10.1102 3.31607 10.8733 3 11.6689 3C12.4646 3 13.2277 3.31607 13.7903 3.87868C14.3529 4.44129 14.6689 5.20435 14.6689 6V11"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
          <span class="count">2</span>
        </a>
      </div>
    </div>
    <svg
      class="bottom-menu-svg-design"
      xmlns="http://www.w3.org/2000/svg"
      width="600"
      height="150"
      viewBox="0 0 600 150"
      fill="none"
    >
      <path
        class="bottom-menu-color"
        d="M300.8 65.2006C329.077 65.2006 352 44.3699 352 18.674V18.674C352 9.74988 358.681 -0.0889598 367.578 0.602816L585.24 17.5264C593.571 18.1741 600 25.1227 600 33.4782V149.53H0V33.4844C0 25.1263 6.43312 18.1764 14.7663 17.532L234.009 0.576187C242.916 -0.11265 249.6 9.74056 249.6 18.674V18.674C249.6 44.3699 272.523 65.2006 300.8 65.2006Z"
        fill="#71797E"></path>
    </svg>
  </div>
</div>
<div class="navigation">
  <ul class="listWrap">
    <li class="list active">
      <a href="Home_Screen1.html">
        <i class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g>
              <path
                d="M8.12602 14C8.57006 15.7252 10.1362 17 12 17C13.8638 17 15.4299 15.7252 15.874 14M11.0177 2.764L4.23539 8.03912C3.78202 8.39175 3.55534 8.56806 3.39203 8.78886C3.24737 8.98444 3.1396 9.20478 3.07403 9.43905C3 9.70352 3 9.9907 3 10.5651V17.8C3 18.9201 3 19.4801 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4801 21 18.9201 21 17.8V10.5651C21 9.9907 21 9.70352 20.926 9.43905C20.8604 9.20478 20.7526 8.98444 20.608 8.78886C20.4447 8.56806 20.218 8.39175 19.7646 8.03913L12.9823 2.764C12.631 2.49075 12.4553 2.35412 12.2613 2.3016C12.0902 2.25526 11.9098 2.25526 11.7387 2.3016C11.5447 2.35412 11.369 2.49075 11.0177 2.764Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
        </i>
        <span class="text"></span>
      </a>
    </li>
    <li class="list">
      <a href="wishlist.html">
        <i class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g>
              <path
                d="M16.1111 3C19.6333 3 22 6.3525 22 9.48C22 15.8138 12.1778 21 12 21C11.8222 21 2 15.8138 2 9.48C2 6.3525 4.36667 3 7.88889 3C9.91111 3 11.2333 4.02375 12 4.92375C12.7667 4.02375 14.0889 3 16.1111 3Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
        </i>
        <span class="text"></span>
      </a>
    </li>
    <li class="list">
      <a href="notification.html">
        <i class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g>
              <path
                d="M12 6.43994V9.76994"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"></path>
              <path
                d="M12.0199 2C8.3399 2 5.3599 4.98 5.3599 8.66V10.76C5.3599 11.44 5.0799 12.46 4.7299 13.04L3.4599 15.16C2.6799 16.47 3.2199 17.93 4.6599 18.41C9.4399 20 14.6099 20 19.3899 18.41C20.7399 17.96 21.3199 16.38 20.5899 15.16L19.3199 13.04C18.9699 12.46 18.6899 11.43 18.6899 10.76V8.66C18.6799 5 15.6799 2 12.0199 2Z"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"></path>
              <path
                d="M15.3299 18.8201C15.3299 20.6501 13.8299 22.1501 11.9999 22.1501C11.0899 22.1501 10.2499 21.7701 9.64992 21.1701C9.04992 20.5701 8.66992 19.7301 8.66992 18.8201"
                stroke="white"
                stroke-width="2"
                stroke-miterlimit="10"></path>
            </g>
          </svg>
        </i>
        <span class="text"></span>
      </a>
    </li>
    <li class="list">
      <a href="account.html">
        <i class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g>
              <path
                d="M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
        </i>
        <span class="text"></span>
      </a>
    </li>
  </ul>
</div>
