---

---

<div class="special-offers-slider">
  <div class="card-slider-shadow">
    <div class="card-slider" onclick="location.href='#'">
      <div class="slider-text">
        <h2>Authentic Indian Tiffin</h2>
        <h3>Your Taste of Home in Canada</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/5.png"
        alt="offer-slider-img1"
      />
    </div>
  </div>
  <div>
    <div class="card-slider" onclick="location.href='#'">
      <div class="slider-text">
        <h2>Your Daily Tiffin Solution</h2>
        <h3>Homestyle Meals in Canada!</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/1.png"
        alt="offer-slider-img2"
      />
    </div>
  </div>
  <div>
    <div class="card-slider" onclick="location.href='#'">
      <div class="slider-text">
        <h2>Authentic Indian Meals</h2>
        <h3>Delivered Fresh To Your Doorstep!</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/2.png"
        alt="offer-slider-img3"
      />
    </div>
  </div>
  <div>
    <div class="card-slider" onclick="location.href='#'">
      <div class="slider-text">
        <h2>Give Your Pots a Break</h2>
        <h3>Real Indian Food Takes Over!</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/3.png"
        alt="offer-slider-img4"
      />
    </div>
  </div>
</div>
