---

---

<div class="special-offers-slider">
  <div class="card-slider-shadow">
    <div class="card-slider" onclick="location.href='special_offers.html'">
      <div class="slider-text">
        <h2>Spice Tiffin</h2>
        <h3>A Taste of Home in Canada</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/offer-slider-img1.png"
        alt="offer-slider-img1"
      />
    </div>
  </div>
  <div>
    <div class="card-slider" onclick="location.href='special_offers.html'">
      <div class="slider-text">
        <h2>Up To 60% Off</h2>
        <h3>Discount only valid for today!</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/offer-slider-img2.png"
        alt="offer-slider-img2"
      />
    </div>
  </div>
  <div>
    <div class="card-slider" onclick="location.href='special_offers.html'">
      <div class="slider-text">
        <h2>Up To 40% Off</h2>
        <h3>Discount only valid for today!</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/offer-slider-img3.png"
        alt="offer-slider-img3"
      />
    </div>
  </div>
  <div>
    <div class="card-slider" onclick="location.href='special_offers.html'">
      <div class="slider-text">
        <h2>Up To 20% Off</h2>
        <h3>Discount only valid for today!</h3>
      </div>
      <img
        class="offers-img"
        src="assets/images/home_screen1/offer-slider-img4.png"
        alt="offer-slider-img4"
      />
    </div>
  </div>
</div>
